* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Solway", serif;
    list-style: none;
}

a {
    color: rgb(6, 148, 65);
    font-size: 20px;
}

a:hover {
    color: rgb(7, 78, 37);
}

.container {
    min-height: 100vh; 
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
}

.container .main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.container nav ul {
    display: flex;
    list-style: none;
}

.container nav ul li {
    padding-right: 10px;
}

.container main {
    max-width: 600px;
    font-size: 18px;
    color: rgb(106, 110, 110);
    font-weight: 300;
}


.container main p.intro {
    margin-bottom: 40px;
}

.container main p.intro span.span1 {
    font-weight: bold;
    color: black;
    font-size: 24px;
}

.container main p.current {
    margin-bottom: 20px;
}

.container main a {
    font-weight: normal;
}

footer {
    display: flex;
    align-items: baseline;
    margin: 0 auto;
}


footer p{
    font-family: "VT323", monospace;
    text-align: center;
    color: rgb(194, 193, 193);
}

footer li a {
    font-size: 15px;
}

