* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Solway", serif;
  list-style: none;
}

a {
  color: #264cca;
  font-size: 20px;
  transition: color 0.5s ease-in-out;
}

a:hover {
  color: #061b63;
}

body {
  background-color: #fff;
  transition: background-color 1s ease-in-out;
}

.container {
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}

.container .main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.container nav ul {
  display: flex;
  list-style: none;
}

.container nav ul li {
  padding-right: 10px;
}

.container main {
  max-width: 850px;
  font-size: 18px;
  color: rgb(68, 68, 68);
  font-weight: 300;
  transition: color 1s ease-in-out;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.container main a {
  font-weight: normal;
}

footer {
  display: flex;
  align-items: baseline;
  margin: 30px auto 0 auto;
}

footer p {
  font-family: "VT323", monospace;
  text-align: center;
  color: rgb(194, 193, 193);
}

footer li a {
  font-size: 15px;
}

/* ======================Dark mode=================== */

body.dark-mode {
  background-color: black;
}

body.dark-mode a {
  color: #264cca;
}

body.dark-mode .container main {
  color: rgb(255, 255, 255);
}

img {
  margin-top: 20px;
  max-width: 250px;
}

body.dark-mode pre {
  background-color: #e8f4f8;
  color: #0c0c0c;
}

/*========================STYLES==============================*/

pre {
  background-color: #0c0c0c;
  color: #f1f1f1;
  margin: 20px 0;
  border-radius: 5px;
  overflow-x: auto;
  transition: background-color;
}
pre code {
  background-color: transparent;
  font-size: 100%;
}
ul {
  padding-left: 20px;
}
li {
  margin-bottom: 0.5em;
}

.call-to-action {
  background-color: #e8f4f8;
  border-left: 4px solid #3498db;
  padding: 1em;
  margin-top: 2em;
}

h1 {
  padding-bottom: 30px;
}

h2 {
  padding: 20px 0;
}

h3 {
  padding: 20px 0;
}
