* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Solway", serif;
    list-style: none;
}

a {
    color: #264cca;
    font-size: 20px;
    transition: color 0.5s ease-in-out;
}

a:hover {
    color: #061b63;
}

body {
    background-color: #fff;
    transition: background-color 1s ease-in-out;
}

.container {
    min-height: 100vh; 
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
}

.container .main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.container nav ul {
    display: flex;
    list-style: none;
}

.container nav ul li {
    padding-right: 10px;
}

.container main {
    max-width: 600px;
    font-size: 18px;
    color: rgb(106, 110, 110);
    font-weight: 300;
    transition: color 1s ease-in-out;
}

.container main a {
    font-weight: normal;
}

footer {
    display: flex;
    align-items: baseline;
    margin: 0 auto;
}


footer p{
    font-family: "VT323", monospace;
    text-align: center;
    color: rgb(194, 193, 193);
}

footer li a {
    font-size: 15px;
}

/* ======================Dark mode=================== */

body.dark-mode {
    background-color: black;
}

body.dark-mode a {
    color: #264cca;
}

body.dark-mode .container main {
    color: rgb(173, 173, 173);
}